<h1>Dashboard</h1>

<div class="ui four column grid">
  <div class="column">
    {{#link-to 'index' class="ui fluid card"}}
      <div class="content">
        <p class="header">Your Sets</p>
      </div>
    {{/link-to}}
  </div>

  <div class="column">
    {{#link-to 'index' class="ui fluid card"}}
      <div class="content">
        <p class="header">Your Songs</p>
      </div>
    {{/link-to}}
  </div>

  <div class="column">
    {{#link-to 'index' class="ui fluid card"}}
      <div class="content">
        <p class="header">New Set</p>
      </div>
    {{/link-to}}
  </div>

  <div class="column">
    {{#link-to 'songs.new' class="ui fluid card"}}
      <div class="content">
        <p class="header">New Song</p>
      </div>
    {{/link-to}}
  </div>
</div>
