<div class="ui tiny image">
  <img src="http://placehold.it/350x350">
</div>
<div class="middle aligned content">
  {{link-to performance.name 'sets.show' performance class="header"}}
  <div class="meta">
    <span class="song-count">{{performance.songs.length}} {{inflection}}</span>
  </div>
</div>
