<h1>Your Sets</h1>

<button class="ui primary labeled icon button">
  <i class="add icon"></i>
  New Set
</button>

<div class="ui items">
  {{#each model as |performance|}}
    {{performance-item performance=performance}}
  {{/each}}
</div>
