<!DOCTYPE html>
<html>
<head>
  <title>Qitup</title>
  <%= stylesheet_link_tag    'application', media: 'all' %>
  <%= include_ember_script_tags :frontend %>
  <%= csrf_meta_tags %>
</head>
<body>

<%= yield %>

</body>
</html>
